#img-ad{
    width: 35vw;
    height: 55vh;
}

h1{
    background-color: #CBDAD5;
    color: black;
}

#logo-location{
    margin-right: 2vh ;
}

.description{
    margin-top: 3vh;
}


.user{
    margin-top: 3vh;
}