.footerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #CBDAD5;
    max-width: 100%;
}

.footerText {
    font-family: 'Inder', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: medium;
    line-height: 38px;
    color: #000000;
}

.footerSocialNetworks {
    display: flex;
    justify-content: space-around;
}
