
  .navbar {
    display: flex;
    justify-content: space-around;
    
    background-color: white;
    height: 20vh;
    width: 100%;
       
  }

  .logo{
    width: 18vw;
    height: 18vh;
   
      
  }
 
 

  p{
    color: black;
  }