
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 18vh;
    width: 100%;
       
  }

  .logo{
    width: 20vw;
    height: 20vh;
   
      
  }
 
 

  p{
    color: black;
  }